$background-color: #e5e5e5;
$button-backgraund: #e8c300;
$input-background: #e5e5e5;
$base-color: #ffffff;
$secondary-color: #000000;
$color-text: #333333;
$color: rgba(255, 255, 255, 0.9);
$background-footer: rgba(0, 0, 0, 0.9);
/*Шрифты*/
$text: Open Sans;
$font: Grandstander;
